{% load otree_tags staticfiles %}

<div class="instructions well well-lg">

    <h3 class="panel-sub-heading">
        Instructions
    </h3>
<p>
    This is a bootscats game with 2 players.
</p>
<p>
    To start, participant A chooses a random number, participant B does nothing.

    If participant, who is choosing their number, is divisible by 3 or contains the number 3, then response they should get back is "boots". If the number is divisble by 5 or contains the number 5, then the returned response should be "cats". If the number is divisble by 3 AND 5 or contains the number 3 AND 5, then the returned response should be "bootscats". If the number does not fit any of the above conditions then the number entered should be the returned reponse.

    First participant who answers incorrectly loses the game and recieves 0 points. 


</p>
</div>
